<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <h1>Company List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Industry</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
            <tr>
                <td>{{ company.name }}</td>
                <td>{{ company.industry }}</td>
                <td>{{ company.country }}</td>
                <td>
                    <a href="{% url 'company-edit' company.nit %}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'company-create' %}">Add New Company</a>
</body>

</html>