<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Company List</title>
</head>

<body>
    <h1>Company List</h1>
    <a href="{% url 'company_add' %}">Add New Company</a>
    <ul>
        {% for company in companies %}
        {% if company.id %}
        <p><a href="{% url 'company_detail' company.nit %}">{{ company.name }}</a>
        </p>
        {% else %}
        <p>No company ID available</p>
        {% endif %}
        {% empty %}
        <p>No companies available</p>
        {% endfor %}
    </ul>

</body>

</html>