<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Equipment</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <div class="container">
        <!-- Barra lateral -->
        <div class="sidebar">
            <h2>Tech Services</h2>
            <ul>
                <li><a href="{% url 'contract-list' %}">View Contracts</a></li>
                <li><a href="{% url 'certificate-list' %}">View Delivery Certificates</a></li>
                <li><a href="{% url 'equipment-list' %}">View Equipment</a></li>
                <li><a href="{% url 'category-list' %}">View Categories</a></li>
                <li><a href="{% url 'contract-create' %}">Add New Contract</a></li>
                <li><a href="{% url 'certificate-create' %}">Add New Delivery Certificate</a></li>
                <li><a href="{% url 'equipment-create' %}">Add New Equipment</a></li>
                <li><a href="{% url 'category-create' %}">Add New Category</a></li>
                <li><a href="{% url 'rent-product' %}">Rent a Product</a></li>
                <li><a href="{% url 'rented-products' %}">View Rented Products</a></li>
            </ul>
        </div>

        <!-- Contenido principal -->
        <div class="main-content">
            <h1>Available Equipment</h1>
            <table>
                <thead>
                    <tr>
                        <th>Inventory Code</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for equipment in equipment %}
                    <tr>
                        <td>{{ equipment.inventory_code }}</td>
                        <td>{{ equipment.description }}</td>
                        <td>{{ equipment.category.category_name }}</td>
                        <td>{{ equipment.active }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Botón para volver atrás -->
            <a href="{% url 'index' %}">
                <button>Back to Home</button>
            </a>
        </div>
    </div>
</body>

</html>