<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Contract</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <h1>Add New Contract</h1>
    <form method="POST">
        {% csrf_token %}
        <div>
            {{ form.as_p }} <!-- Esto incluirá todos los campos, incluyendo 'company' -->
        </div>
        <button type="submit">Add Contract</button>
    </form>

    <!-- Botón para volver atrás -->
    <a href="{% url 'index' %}"><button>Back to Home</button></a>
</body>

</html>